.wrapper {
    display: flex;
    margin-bottom: 3px;
}

.pad-wrapper {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.pad-name {
    text-align: left;
}

.pad:nth-of-type(4n+1) {
   background: #5e66688c;
}

.pad {
    width: 2vw;
    height: 1vw;
    margin: 1px 1px;
    cursor: pointer;
    background: #5e6668;
    border-radius: 1px;
}

.pad.selected {
    background: #d28e5f
}

.pad.selected.active {
    animation: activePad;
    animation-duration: 0.3s;
}

@keyframes activePad{
  from {background: #5e6668;}
  to {background: #d28e5f;}
}

.pad.selected.active:nth-of-type(4n+1) {
    animation: activePad1th;
    animation-duration: 0.3s;
}

@keyframes activePad1th {
  from {background: #5e66688c;}
  to {background: #d28e5f;}
}

.muteOff {
    background: #5e6668;
    color: #a7b3b6;
    padding: 0;
    font-size: 1vw;
}

.muteOn {
    background: #4199ae;
    color: #444a4c;
    padding: 0;
    font-size: 1vw;
}

.wrapper-buttons {
    display: flex;
    align-items: center;
    margin-right: 1vw;
}

.buttons-group button {
    border: none;
    width: calc(0.95*2vw);
    height: 1.5vw;
} 

.buttons-group {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {

    .pad {
        width: 4vw;
        height: 2vw;
    }

    .buttons-group button {
        width: calc(0.95*3vw);
        height: 4vw;
    } 

    .muteOff {
        font-size: 2vw;
    }

    .muteOn {
        font-size: 2vw;
    }

}