.menu {
    margin-bottom: 1vw;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.bpm {
    color: #a7b3b6;
    font-size: 2vw;
    margin-left: 2vw;
}

.bpm-descr {
    font-size: 1vw;
}

.bpm-value {
    width: 3vw;
    display: inline-block;
    text-align: end;
    margin-right: 0.3vw;
}

.play {
    width: 2vw;
    height: 2vw;
    padding: 0;
    margin-left: 0.5vw;
    margin-right: 1vw;
	border-top: 1vw solid transparent;
	border-left: 2vw solid #5e66688c;
	border-bottom: 1vw solid transparent;
}

.stop {
    width: 2vw;
    height: 2vw;
    background-color: #5e66688c;
}

.buttons-wrapper {
    display: flex;
    align-items: center;
    background: #454b4f57;
}

.bpm-up {
    padding: 0;
	width: 0 ;
	height: 0 ;
	border-left: 0.5vw solid transparent;
	border-right: 0.5vw solid transparent;
	border-bottom: 1vw solid #5e66688c;
}

.bpm-up:hover {
    border-bottom: 1vw solid #a7b3b6;
}


.bpm-down {
    padding: 0;
	width: 0;
	height: 0;
	border-left: 0.5vw solid transparent;
	border-right: 0.5vw solid transparent;
	border-top: 1vw solid #5e66688c;
}

.bpm-down:hover {
    border-top: 1vw solid #a7b3b6;
}

.active-play {
	border-left: 2vw solid #24b35d;
}

.active-stop {
    animation: activeStop;
    animation-duration: 0.3s;
}

@keyframes activeStop {
  from {background: #a7b3b6;}
  to {background: #5e66688c;}
}

.logo {
  font-size: 1vw;
  color:  #778183;
  margin: auto 0.5vw 0.2vw auto;
}

@media (max-width: 1200px) {

    .bpm {
        font-size: 3vw;
        margin-left: 2vw;
    }

    .bpm-descr {
        font-size: 2vw;
    }

    .bpm-value {
        width: 5vw;
    }   

    .bpm-up {
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-bottom: 2vw solid #5e66688c;
    }

    .bpm-up:hover {
        border-bottom: 2vw solid #a7b3b6;
    }


    .bpm-down {
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-top: 2vw solid #5e66688c;
    }

    .bpm-down:hover {
        border-top: 2vw solid #a7b3b6;
    }

    .play {
        width: 4vw;
        height: 4vw;
        border-top: 2vw solid transparent;
        border-left: 4vw solid #5e66688c;
        border-bottom: 2vw solid transparent;
    }

    .stop {
        width: 4vw;
        height: 4vw;
    }
    
    .active-play {
	    border-left: 4vw solid #24b35d;
    }

    .buttons-wrapper {
        padding: 2px;
    }

}