select {
    width: 6.5vw;
    height: 1.5vw;
    background: #454b4f57;
    display: block;
    color: #1f2429;
    border: none;
    font-size: 0.8vw;
}

option {
    background: #5e6668;
    border: none;
}