.sampler-pad-wrapper {
    display: flex;
}

.sample {
    width: 3vw;
    height: 3vw;
    margin: 2px 2px;
    cursor: pointer;
    background: rgb(33 33 33 / 72%);
    border-radius: 3px;
}

.selected {
    background: rgb(255 255 255 / 72%);
}