.App {
  text-align: center;
}

:root {
  --backgr: #252b31;
}

.App-container {
  background-color: var(--backgr);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.work-container {
  display: flex;
}

.App-link {
  color: #61dafb;
}